:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #0f0f0f;
    background-color: #f6f6f6;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .main-panel {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: center;
  }
  
  .divider {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    width: 700px;
    border: 1px solid rgb(197, 37, 90);
  }

  .input-row {
    margin-top: 20px;
  }
  
  .grid-btn {
    height: 150px;
    width: 150px;
  }
  
  progress {
    width: 70%;
    margin: 5px;
    align-self: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  li {
    float: left;
    cursor: default;
  }
  
  li:hover {
    color: #ff3460;
  }
  
  a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
  }
  
  r {
    color: #ff0000;
  }
  
  g {
    color: #19d300;
  }
  
  b {
    color: #74c7ff;
  }
  
  y {
    color: #ff3460;
  }
  
  h1 {
    text-align: center;
  }
  
  input,
  button {
    margin: 10px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #ffffff;
    background-color: #0f0f0f98;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  button {
    cursor: pointer;
    height: 150px;
    width: 150px;
    margin: 10px;
  }
  
  button:hover {
    border-color: #ff388b;
  }
  button:active {
    border-color: #ff388b;
    background-color: #0f0f0f69;
  }
  
  input,
  button {
    outline: none;
  }
  
  #greet-input {
    margin-right: 5px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      color: #f6f6f6;
      background-color: #2e2e2e;
    }
  
    input,
    button {
      color: #ffffff;
      background-color: #0f0f0f98;
    }
    button:active {
      background-color: #0f0f0f69;
    }
  }





.console-box {
  align-self: center;
  margin-top: 10px;
  height: 200px;
  width: 600px;
  border: 2px solid rgb(197, 37, 90);
  overflow-y: auto;
}






.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  display: inline;
  position: relative;
  width: 78px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  align-self: center;
  box-shadow: 0px 0px 4px 4px #692648;
  border-style: solid;
  border-width: 1px;
  border-color: #cc2062;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #5a5a5a;
  transition: 0.3s ease all;
  z-index: 1;
}

.knobs:before {
    content: "OFF";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 9px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #353535;
    border-radius: 2px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.checkbox:active + .knobs:before {
  width: 46px;
}

.checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

.checkbox:checked + .knobs:before {
  content: "ON";
  left: 34px;
  background-color: #ff388b;
  color: #ffffff;
}

.checkbox:checked ~ .layer {
  background-color: #5a5a5a;
}